<h1>Welcome to the Contractor Review App!</h1>

<p>Clients and Contractors can sign up for our app, schedule appointments with eachother,
and review the work done after the job has been completed.<br>
<br>
Clients can also browse reviews written by other clients to see which contractor would fit
best for their job.<br>
<br>
Please <%= link_to "Sign Up", signup_path %> for the app so you can get started schuduling
your next home improvement!<br>



