<h1>Welcome, <%= @contractor.business_name %></h1>

<%= link_to "See all My Appointments", contractor_appointments_path(@contractor) %><br>
<%= link_to "See all My Reviews", contractor_reviews_path(@contractor) %>