<h1>Appoinment Requested </h1>
<h2>Job Name: <%= @appointment.job_name %></h2>
<h4>Job Description: <%= @appointment.job_description %></h4>
<h4>Appointment Time: <%= @appointment.appointment_time %></h4>